<ol class='post-list'>
    {{!-- all HTML code between these tags will be repeated for each item in 'posts' (see home-routes getAll route at .render) --}}
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol>